</div>
<div class="footer-div">
<nav class="navbar navbar-default footer">
    <div class="container" >
        <ul class="nav navbar-nav navbar-left">
          <li id="about"><a href="/about">ABOUT US</a></li>
          <li id="contact"><a href="/contact">CONTACT US</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <p>Made with ❤️ by SJ</p>
          </ul>
    </div>
</nav>
</div>
</body>

</html>
