<div class="container footer mt-auto py-3">
        <footer class="pt-4 my-md-5 pt-md-5 border-top">
          <div class="row">
            <div class="col-12 col-md">
              <h5 class="my-0 mr-md-auto font-weight-normal">
                <a class="logo-brand" href="/"> Payroll Tracker</a>
              </h5>
            </div>
  
            <div class="col-6 col-md">
              <ul class="list-unstyled text-small">
                <li class="pad-left"><a class="text-muted" href="/about">About</a></li>
                <li class="pad-left"><a class="text-muted" href="/contact">Contact</a></li>
              </ul>
            </div>
  
            <div class="col-6 col-md">
              <ul class="list-unstyled text-small">
                <li class="text-muted">Made with ❤️ by SJ</li>
              </ul>
            </div>
          </div>
        </footer>
      </div>
    </body>
  </html>
  