<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Payroll login</title>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">Payroll login</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li><a href="/logout" id="lIn">CREATE LOGIN</a></li>
          <li><a href="/logout" id="lOt">CREATE LOGOUT</a></li>
          <li id="logout"><a href="/logout">SIGN OUT</a></li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Logged In</th>
            <th scope="col">Logged Out</th>
            <th scope="col">Duration</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="footer-div">
      <nav class="navbar navbar-default footer">
        <div class="container">
          <ul class="nav navbar-nav navbar-left">
            <li id="about"><a href="/about">ABOUT US</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <p>Made with ❤️ by SJ</p>
          </ul>
        </div>
      </nav>
    </div>
  </body>
</html>
