.container-fluid {
    padding: 20px 113px 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.footer .navbar-nav  li a:hover {
  color: rgb(59, 57, 57) !important;
}

.footer .navbar-nav  li a {
  color: #fff;
}

.footer-div {
  position: relative;
}

.footer {
  position: absolute;
  top: 100vh;
  width: 100%;
  background-color: #1abc9c;
}

.footer p {
  color: #fff;
  margin-top: 8%;
}

.btn {
  background-color: #1abc9c;
}

.social-button {
  padding: 25px 0;
}